<div class="main-container">
  <div id="map">
    COUCOU
  </div>


  <div class="container">
    <h2><%= @itinerary.country %></h2>
    <div class="row">
      <% @itinerary.steps.each do |step| %>
        <div class="col-xs-12">
          <div class="card">
            <h5><%= step.title %></h5>
            <p><%= step.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

