
.card-btn {
  margin-left: 25%;
  margin-right: 25%;
  padding: 12px;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 51px;
  text-align: center;
  top: 225px;
  width: 220px;
  transition: 0.5s;
  font-weight: lighter;
  text-decoration: none;
  a {
    color: $main-blue;
    font-weight: bolder;
    text-decoration: none;
    padding: 0 30px 0 30px;

    i {
      color: $main-orange;
      transition: 0.5s;
    }
  }
  &:hover {
    background-color: $main-orange;
    transition: 0.5s;
    opacity: 0.9;
    i {
      color: $main-blue;
    }
  }
}

.button-dromo {
  background-color: $main-blue;
  width: 190px;
  height: 83px;
  border-radius: 54px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease;
  p {
    font-family: $headers-font;
    color: white;
    font-style: normal;
    font-weight: lighter;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    margin: 0;
  }
  i {
    color: white;
    margin-right: 10px;
    font-size: 25px;
  }
}

#orange {
  background-color: $main-orange;
}

.colors-inversed {
  background-color: white !important;
  width: 80px;
  transition: all .4s ease;
  i, p {
    color: $main-orange !important;
  }
  p {
    display: none;
  }
  i {
    margin-right: 0;
  }
}
