// CONTAINER HOMEPAGE/LOG/SIGN/DASHBOARD
.container-white {
  margin: 50px;
  background-color: white;
  border-radius: 34px;
  padding: 20px;

}

.itineraries-container {
  padding: 50px;
  position: relative;
}

.container-white-home {
  margin: -45px 50px 50px 50px;
  background-color: white;
  border-radius: 34px;
  position: relative;
  height: 1400px;
}

// CONTAINER SHOW ITINERARY
.main-container {
  display: flex;
}

#map {
  flex: 0 0 50%;
  height: calc(100vh - 70px);
  position: sticky !important;
  top: 70px;
}
