// CONTAINER HOMEPAGE/LOG/SIGN
.container-white {
  margin: 50px;
  background-color: white;
  border-radius: 34px;
  min-height: 90vh;
}

.itineraries-container {
  padding: 50px;
  position: relative;
}

.container-white-home {
  margin: 50px 50px 50px 50px;
  background-color: white;
  border-radius: 34px;
  position: relative;
  height: 1400px;
}

// CONTAINER SHOW ITINERARY
.main-container {
  display: flex;
}

#map {
  flex: 0 0 50%;
  height: 100vh;
  position: sticky !important;
  top: 0px;
}

// CONTAINER SHOW
.title-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 25px;
  padding-top: 0;
  border-bottom: 1px solid $pastel-gray;
  border-top: 1px solid $pastel-gray;
  img {
    height: 50px;
    border-radius: 50%;
  }
}

.title-container-info {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  padding-top: 30px;
  p {
    font-weight: lighter;
    font-size: 14px;
    padding-left: 15px;
  }
  i {
    font-size: 1.4em;
    color: $main-orange;
    padding-right: 2px;
  }
}

// CONTAINER DASHBOARD
.dashboard-content {
  padding-left: 50px;
  padding-right: 50px;
}

// CONTAINER CREATE STEP
.create-main-container {
  display: flex;
  align-items: center;
  margin: 20px 50px;
}

.create-form-main-container {
  flex: 0 0 35%;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  background-color: white;
  border-radius: 34px;
}

// CREATE ITINERARY
.create-itinerary-main-container {
  margin-top: 35px;
  margin-left: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 99;
  a {
    text-decoration: none;
  }
}

.create-itinerary-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    height: 50px;
    border-radius: 50%;
  }
}

.create-itinerary-content-form {
  margin: 20px;
}

.form-group.string.optional.itinerary_country {
  label {
    font-size: 16px;
  }
  input {
    font-size: 15px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    box-shadow: none;
    transition: 0.4s;
    &:hover {
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
      background-color: #F4F4F4;
      color: $main-blue;
      transition: 0.4s;
    }
  }
}

.form-group.integer.optional.itinerary_duration_in_days {
  label {
    font-size: 16px;
  }
  input {
    font-size: 15px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    box-shadow: none;
    &:hover {
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
      background-color: #F4F4F4;
      color: $main-blue;
      transition: 0.4s;
    }
  }
}


.form-group.date.optional.itinerary_start_date {
  label {
    font-size: 16px;
  }
}
.d-flex.flex-row.justify-content-between.align-items-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  select {
    font-size: 15px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    box-shadow: none;
    &:hover {
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
      background-color: #F4F4F4;
      color: $main-blue;
      transition: 0.4s;
    }
  }
}

.create-itinerary-transport-crew {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .form-group.select.optional.itinerary_transportation {
    label {
      font-size: 16px;
    }
    select {
      font-size: 15px;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      box-shadow: none;
      &:hover {
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
        background-color: #F4F4F4;
        color: $main-blue;
        transition: 0.4s;
      }
    }
  }
  .form-group.select.optional.itinerary_crew {
    label {
      font-size: 16px;
    }
    select {
      font-size: 15px;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      box-shadow: none;
      &:hover {
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
        background-color: #F4F4F4;
        color: $main-blue;
        transition: 0.4s;
      }
    }
  }
}

.create-itinerary-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  border-radius: 0 0 12px 12px;
  background-color: $light-gray;
  padding: 15px;
  height: 50px;
  color: $main-orange;
  transition: 0.4s;
  width: 363px;
  height: 75px;
  border: 0;
  a {
    color: $main-blue;
  }
  &:hover {
    background-color: $main-orange;
    color: $main-blue;
    transition: 0.4s;
  }
}

// CONTAINER EDIT STEP LEFT
.edit-step-main-container {
  margin-top: 35px;
  margin-left: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
  a {
    text-decoration: none;
  }
}

.edit-step-header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    height: 50px;
    border-radius: 50%;
  }
}

.edit-step-search-bar-container {
  margin: 20px;
}

.edit-step-content-main {
  height: 250px;
  overflow: scroll;
}

.edit-step-content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  .js-point {
    width: 300px;
  }
  span {
    font-size: 15px;
    text-align: center;
    color: $main-blue;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      color: $main-orange;
      transition: 0.3s;
    }
  }
  i {
    font-size: 1.1em;
  }
  a {
    display: block;
    color: $pastel-gray;
    &:hover {
      color: $main-blue;
    }
  }
}

.edit-step-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 0 12px 12px;
  height: 50px;
}

.edit-step-footer-link {
  height: 50px;
  background-color: $light-gray;
  flex: 0 0 50%;
  display: flex;
  justify-content: space-around;
  align-items:center;
  font-size: 16px;
  font-weight: 500;
  transition: 0.4s;
  a {
  color: $main-blue;
  transition: 0.4s;
  }
}

.edit-step-footer-link:first-child {
  border-radius: 0 0 0 12px;
}
.edit-step-footer-link:last-child {
  border-radius: 0 0 12px 0;
}

.edit-step-footer-link:hover {
  transition: 0.4s;
  background-color:$main-orange;
  height: 50px;
  a {
    color: white;
    transition: 0.4s;
  }
}


// EDIT STEP FORM RIGHT
.edit-step-form-main-container {
  width: 700px;
  height: 576px;
  margin-top: 85px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 10px;
  right: 40px;
  z-index: 99;
  display: flex;
}

.edit-step-info {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  padding: 20px 20px 20px 0;

}

.edit-step-form-header {
  display: flex;
  align-items: center;
  margin: 15px;
  padding-left: 20px;
  img {
    margin-right: 20px;
    text-align: center;
    height: 50px;
    border-radius: 50%;
  }
}

.edit-step-form-content {
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}


.edit-step-form-title {
  padding: 10px;
}

.edit-step-form-description {
  padding: 10px;
}

.form-group.string.optional.step_title.form-group-valid {
  label {
    font-size: 16px;
  }
  input {
    font-size: 15px;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    box-shadow: none;
    border-radius: 12px 12px 0 0;
    &:hover {
      background-color: $light-gray;
      color: $main-blue;
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
      transition: 0.3s;
    }
  }
}

.form-group.string.optional.step_title {
  label {
    font-size: 16px;
  }
  input {
    font-size: 15px;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    box-shadow: none;
    border-radius: 12px 12px 0 0;
    &:hover {
      background-color: $light-gray;
      color: $main-blue;
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
      transition: 0.3s;
    }
  }
}

.form-group.text.optional.step_description.form-group-valid {
  label {
    font-size: 16px;
  }
  textarea {
    font-size: 15px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    box-shadow: none;
    transition: 0.3s;
    height: 60px;
    border-radius: 12px 12px 0 0;
    &:hover {
      background-color: $light-gray;
      color: $main-blue;
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
      transition: 0.3s;
    }
  }
}

.form-group.text.optional.step_description {
  label {
    font-size: 16px;
  }
  textarea {
    font-size: 15px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    box-shadow: none;
    transition: 0.3s;
    height: 60px;
    border-radius: 12px 12px 0 0;
    &:hover {
      background-color: $light-gray;
      color: $main-blue;
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
      transition: 0.3s;
    }
  }
}

.edit-step-form-category-rating-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.form-group.select.optional.step_category.form-group-valid {
  label {
    font-size: 16px;
  }
  select {
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: none;
    transition: 0.3s;
    width: 130%;
    &:hover {
      background-color: $light-gray;
      color: $main-blue;
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
      transition: 0.3s;
    }
  }
}

.form-group.select.optional.step_category {
  label {
    font-size: 16px;
  }
  select {
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: none;
    transition: 0.3s;
    width: 130%;
    &:hover {
      background-color: $light-gray;
      color: $main-blue;
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
      transition: 0.3s;
    }
  }
}

.form-group.select.optional.step_rating.form-group-valid {
  label {
    font-size: 16px;
  }
  select {
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: none;
    transition: 0.3s;
    &:hover {
      background-color: $light-gray;
      color: $main-blue;
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
      transition: 0.3s;
    }
  }
}

.form-group.select.optional.step_rating {
  label {
    font-size: 16px;
  }
  select {
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: none;
    transition: 0.3s;
    &:hover {
      background-color: $light-gray;
      color: $main-blue;
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
      transition: 0.3s;
    }
  }
}

.edit-step-form-footer {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.dropzone {
  background: none !important;
  align-items: center;
  color: $main-orange;
  height: 100%;
  font-weight: lighter;
  transition: all ease 0.3s;
  span {
    transition: all ease 0.3s;
  }

}

.dropzone:hover span {
  text-decoration: underline;
}

.edit-step-dropzone {
  flex: 0 0 50%;
  background: $ivory;
  border-radius: 0 10px 10px 0;
  box-shadow: -2px 0 5px #d3d3d34d;
}
.simple_form.dropzone.dz-clickable {
  display: flex;
  justify-content: space-around;
  border: 0;
  flex-wrap: wrap;
  overflow-y: scroll;
  span {
    font-size: 16px;
  }
  .dz-image {
    height: 90px;
    width: 110px;
  }
}


.index-header-content {
  padding-left: 78px;
  padding-top: 67px;
}
