// CONTAINER HOMEPAGE/LOG/SIGN
.container-white {
  margin: 50px;
  background-color: white;
  border-radius: 34px;
  position: relative;
}

.container-white-home {
  margin: -45px 50px 50px 50px;
  background-color: white;
  border-radius: 34px;
  position: relative;

}
