// FORM DEVISE
.form-container {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 34px;
  margin-left: 20%;
  margin-right: 20%;
  padding:30px;
}

.form-inputs {
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}

.form-control-label {
  font-weight: lighter;
}

.form-actions .btn {
  border-radius: 24px;
  background-color: #011638;
  color: #FAE5BA;
  &:hover {
    background-color: #F0A202;
    color: #011638;
    transition: 0.5s;
  }
}

#user_remember_me {
  margin-right: 10px;
}

.form-check-label{
  font-weight: lighter;
  padding-bottom: 0;
}

.form-links {
  padding-top: 20px;
  a {
    color: #011638;
    &:hover {
      color: #F0A202;
      text-decoration: none;
      transition: 0.4s;
    }
  }
}

// .form-control-override {
//     display: block;
//     // font-style: normal;
//     height: 59px;
//     padding: 6px 22px;
//     font-size: 18px;
//     line-height: 1.428571429;
//     color: #000000;
//     background-color: #fff;
//     background-image: none;
//     border: 1px solid #ccc;
//     border-radius: 2px;
//     /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); */
//     transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

// CREATE ITINERARY
.create-form-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $pastel-gray;
  margin: 10px 20px;
  img {
    height: 50px;
    border-radius: 50%;
  }
}

.create-form-add {
  margin: 0 20px;
  color: $pastel-gray;
  border-bottom: 1px solid $pastel-gray;
  padding-bottom: 10px;
  button {
    border: 1px solid $pastel-gray;
    border-radius: 50%;
    margin-left: 45%;
    &:hover {
      color: $main-blue;
      border-color: $main-blue;
    }
  }
}

.create-form-content {
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 20px;
}

.create-form-content-left {
  display: flex;
  flex-direction: column;
  color: $pastel-gray;
  p {
    margin: 0;
  }
}

.create-form-bottom {
  background-color: $light-gray;
}
