// FORM LOGIN
.form-container {
  background-color: white;
  border-radius: 34px;
  margin-left: 25%;
  margin-right: 25%;
  padding:30px;
}

.form-inputs {
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.form-links {
  padding-top: 20px;
}
