.header-buttons {
  input {
    width: 5px;
    height: 67px;
    border-radius: 34px;
    border: none;
    background-color: $main-orange;
    padding: 15px 20px;
    color: white;
    transition: all .4s ease;
    &::placeholder {
      color: white;
      font-family: $headers-font;
      font-weight: lighter;
      padding-left: 40px;
    }
  }
  .search-input-display {
    width: 260px;
    height: 67px;
    border-radius: 34px;
    border: none;
    background-color: $main-orange;
    padding: 15px 20px;
    color: white;
    transition: all .4s ease;
    padding-left: 80px;
  }
}
