.search-bar-main-container {
  display: flex;
  justify-content:space-between;
}

.search-content {
  flex: 0 0 150%;
  border-radius: 40px;
  margin-left: 15px;
  height:60px;
}


.search-module {
    display: flex;
    // justify-content: center;
    align-items: center;
    margin: 0px 0px;
}

