.search-bar-main-container {
  display: flex;
  justify-content:space-between;
}

.search-content {
  flex: 0 0 150%;
  border-radius: 40px;
  margin-left: 15px;
  height:60px;
  padding-left: 30px;
  margin-bottom: 30px;
}


.search-module {
    display: flex;
    // justify-content: center;
    align-items: center;
    margin: 0px 0px;
}

// EDIT STEP
#step_city {
  background-color: $light-gray;
  border-radius: 4px;
  padding: 5px;
  border-color: $light-gray;
  width: 300px;
  font-size: 13px;
}
