.search-bar-main-container {
  display: flex;
  justify-content:space-between;
}

.search-content {
  flex: 0 0 100%;
  border-radius: 34px;
}


.search-module {
    display: flex;
    // justify-content: center;
    align-items: center;
    margin: 0px 0px;
}

